.header {
  text-align: center;
  color: white;
  background-color: red;
  height: 8vh;
  display: flex;
}

.logo {
  width: 35%;
  /* border: 2px solid blue; */
}

.links {
  width: 65%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  margin: auto;
  font-weight: bold;
  /* border: 2px solid red; */
}

.links > a {
  /* border: 2px solid black; */
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.links > a:hover {
  color: black;
}

h1 {
  display: inline;
}
