body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: center;
}

.headline{
  color:blue;
  background-color: antiquewhite;
  padding: 5px 25px;
  text-align: center;
}



.verse{
  border-top: 2px solid brown;
  padding-top: 20px;
}

.heading{
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  color: brown;
  text-align: center;
}

.section{
  font-size: 18px;
  margin: 1%;
  padding: 1%;
  border: 2px solid black;
  border-radius: 8px;
  background-color:antiquewhite;
  display: inline-block;
  vertical-align: top;
}

.part1{
  width: 29%;
}

.part2{
  width: 45.5%;
}

.sloka{
  font-weight: bold;
  font-size: 24px;
}

/* TABLET SCREEN */
@media (min-width: 769px) and (max-width: 1024px) {
  .part1, .part2 {
      width: 90%;
  }
}

/* MOBILE SCREEN */
@media (max-width: 768px) {
  .part1, .part2 {
      width: 90%;
  }
}

.home{
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  padding: 7px;
  margin: 3px;
  text-decoration: none;
  display: inline-block;
  background-color: #010E19;
  color: white;
}

.back-to-top{
  float: right;
  position: sticky;
  bottom: 10%;
  right: 5%;
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}